.cards {
  margin: 0px auto;
  padding-left: 0px;
  display: flex;
  column-gap: 100px;
  flex-wrap: wrap;
  width: 920px; /* hence the card items are 240px and 100px column-gap didn't apply max-width here */
  list-style-type: none;
  }


