.link-properties {
  color: #2f80ed;
  text-decoration: none;
}

.link-properties:hover {
  opacity: 0.5;
}

.link-properties_scale {
  color: #2f80ed;
  text-decoration: none;
  transition: transform 0.5s ease-in-out;
}

.link-properties_scale:hover {
  opacity: 0.6;
  transform: translate(5px, 0px) ;
}

