.footer__column-link {
  text-decoration: none;
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0px;
  white-space: nowrap; /* first time hearing this tag, didn't see it in theory sprint 1 & 2 , thank you very much! */
}

