  .rotation {
    transform: rotate(-15deg);
    animation: square 20s linear infinite forwards;
  }

  @keyframes square {
    0% { transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
