.header__title {
  font-size: 102px;
  font-weight: bold;
  max-width: 730px;
  width: 100%;
  line-height: 96px;
  margin-left: 64px;
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: center;
  z-index: 5;
}
